* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background: linear-gradient(to right, #945B30, #DDD4CD);
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex; 
}

.logo img {
    max-width: 65px; 
    height: auto; 
}

.container {
    background-color: #ffffff;
    margin-top: 100px; 
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3a2117;
    font-weight: 600;
}

.form-field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

input:focus,
textarea:focus {
    border-color: #8b5e3c;
    outline: none;
    box-shadow: 0 0 5px rgba(139, 94, 60, 0.5);
}

input[type="submit"] {
    background: linear-gradient(to bottom, #8b5e3c, #bd785d); 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.5s ease;
    width: 100%;
}

input[type="submit"]:hover {
    background: linear-gradient(to bottom, #a26b4e, #d19478); 
    transition: background 0.5s ease;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .logo img {
        max-width: 120px; 
    }

    .container {
        padding: 15px;
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

/* Estilos para los botones */
button {
    background-color: #977553;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #583f26;
}

button:active {
    transform: scale(0.98);
}