
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    background: url("/Img/coffee-beans-levitate-white-background.jpg") no-repeat center center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


header {
    background: linear-gradient(to right, #945B30, #DDD4CD);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 90px; 
    height: auto; 
}

header .icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

header .icons a img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}


header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1; 
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(1, 1, 1);
    text-decoration: none;
    font-size: 1.2em;
}


main {
    padding: 20px;
    text-align: center;
}

main h1 {
    margin-bottom: 20px;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-container button,
.button-container a.button {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #4e342e;
    border-radius: 5px;
    background: white;
    color: black;
    text-align: center;
    text-decoration: none; /* Bağlantının alt çizgisini kaldırır */
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.button-container button:hover,
.button-container a.button:hover {
    background: #4e342e;
    color: white;
}

.button-container .logout {
    background: #6d4c41;
    color: white;
}

.button-container .logout:hover {
    background: #5a3c34;
    color: white;
}
.profile-info {
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
    background: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
}

.info-box {
    height: 200px;
    background: #c0b6ae;
    border-radius: 10px;
    border: 1px solid #4e342e;
}

.regresarBtn {
    display: inline-block;
    padding: 7.5px 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin: 20px;

}